In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier

In [2]:
def load_data(base_path = "data"):
    test = pd.read_csv(f"{base_path}/test.csv")
    chembl_data = pd.read_csv(f"{base_path}/train.csv")
    return test, chembl_data

test, chembl_data= load_data("../data")

           ID                                             Smiles
0    TEST_000  O=C(C1=CSC(C2=CC=CN=C2)=N1)NC3=CC(NC4CCN(C)CC4...
1    TEST_001  N#CC1=CC(C=C2)=C(C=C1)N2C(N=C3)=NC(NC4CCCCC4)=...
2    TEST_002  N#CC(C=C1)=C(N[C@@H]2CCNC2)C=C1NC(N=C3)=NC=C3C...
3    TEST_003  N#CC(C=C1)=CC=C1NC(N=C2)=NC(NC3CC(NC(C=C)=O)CC...
4    TEST_004  N#CC(C=C1)=CC=C1NC(N=C2)=NC(NC3CC(N)CC3)=C2C(C...
..        ...                                                ...
108  TEST_108  N#CC1=CC(C=C2)=C(C=C1)N2C(N=C3)=NC(N4CCOCC4)=C...
109  TEST_109  O=C(C1=CSC(C2=CC=NC=C2)=N1)NC3=CC(NC4CCN(C(C)C...
110  TEST_110  N#Cc1ccc(Nc2ncc(cn2)c3cnn(c3)C4CCNCC4)cc1N[C@@...
111  TEST_111  O=C(C)N(CC1)CCC1N2N=CC(C3=CN=C(N4C(C=CC(C#N)=C...
112  TEST_112  N#CC(C=C1)=CC=C1NC(N=C2)=NC(NC3CNCCC3)=C2C(C=N...

[113 rows x 2 columns]